<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="defaultPattern"
              value="[occurredAt: %date{ISO8601}] logger=%logger{0} - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>${defaultPattern}</pattern>
        </encoder>
    </appender>

    <!--  This one enables some useful logic from client libraries about what and when was called  -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
